<!DOCTYPE html>
<html>
    <head>
        <%- include('./base/head') %>
    </head>
    <body>

        <form id="login">
            

            <label for= "username">Username</label></br>
            <input type = "text" id= "username"></br>

            <label for= "password">Password</label></br>
            <input type = "password" id= "password"></br>
            
            <label for= "name">Name</label></br>
            <input type = "text" id= "name"></br>
    
            <label for= "school">School</label></br>
            <input type = "text" id= "school"></br>
            
            <label for= "country">Country</label></br>
            <input type = "text" id= "country"></br>
           
            <label for= "email">Email</label></br>
            <input type = "text" id= "email"></br>
           
            <label for= "project">Project</label></br>
            <input type = "text" id= "project"></br>
            
            <input type = "submit">
        </form>
        <script type = "text/javascript">
            
        </script>

    </body>
</html>