<!DOCTYPE html>
<html>
    <head>
        <%- include('./base/head') %>
    </head>
    <body>
        <% if(user) { %>
            <h1> <%= user.name %> </h1>
            <h2> <%= user.username %> </h2>
        <% } %>
        <% if(error) { %>
            <h1> <%= error %> </h1>
        <% } %>

        <script type = "text/javascript">
            
        </script>

    </body>
</html>